%p.in-gold-500.font-18.mb-25= t('change_pass.title')
= form_for current_user, url: settings_privacy_path, class: "general-form-md divider-lg-bottom pb-25" do |f|
  .form-group.mb-30{ class: ("has-error" unless current_user.errors[:current_password].empty?) }
    = f.hidden_field nil, name: :type, value: :change_pwd
    = f.label :current_password, t('change_pass.old_pwd'), class: 'control-label input-label'
    = f.password_field :current_password, placeholder: t('change_pass.old_pwd'), class: "form-control"
    - unless current_user.errors[:current_password].empty?
      %span.help-block= current_user.errors[:current_password][0]
  .form-group.mb-30{ class: ("has-error" unless current_user.errors[:password].empty?) }
    = f.label :password, t('change_pass.new_pwd'), class: 'control-label input-label'
    = f.password_field :password, placeholder: t('change_pass.new_pwd'), class: "form-control"
    - unless current_user.errors[:password].empty?
      %span.help-block= current_user.errors[:password][0]
  .form-group.mb-30{ class: ("has-error" unless current_user.errors[:password_confirmation].empty?) }
    = f.label :password_confirmation, t('change_pass.conf_pwd'), class: 'control-label input-label'
    = f.password_field :password_confirmation, placeholder: t('change_pass.conf_pwd'), class: "form-control"
    - unless current_user.errors[:password_confirmation].empty?
      %span.help-block= current_user.errors[:password_confirmation][0]
  .general-text-align
    %button.btn.btn-default.mb-35= t('button.save')
