%main.container
  %h1.general-title-margin= t("title.catalog")
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          = t("filters.newest_first")
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        = render 'filters', category: @category
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        %a.filter-link{href: catalog_path()}
          = t("text_helpers.all")
          %span.badge.general-badge= @books.count
      - @count_book_in_category.each do |count_cat|
        %li.mr-35
        = link_to  catalog_path(category: count_cat[0][1]), class: "filter-link #{active_category(count_cat[0][1])}" do
          = count_cat[0][0]
          %span.badge.general-badge= count_cat[1]
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10=t("filters.filter_by_cat")
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        = t("filters.newest_first")
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      = render 'filters', category: @category
    %p.lead.small.mb-10= t("text_helpers.sort_by")
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        = t("filters.newest_first")
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      = render 'filters', category: @category
  .mb-120{id: "list_catalog"}
    = render 'catalog_list', catalog_list: @catalog_list
