%main.container
  %a.general-back-link{href: "#"}
    %i.fa.fa-long-arrow-left.mr-15
    =link_to t("button.back_result"), :back, class: 'in-gold-500 mb-20'
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = image_tag number_image(@book, 0), alt: 'design-book', class: 'img-responsive'
        - if @book.images.count > 1
          .images.clearfix
            - for i in 1..3
              - unless @book.images[i].nil?
                %a.img-link{href: "#"}
                  = image_tag number_image(@book, i), alt: 'design-book'
    .col-sm-6
      %h1.mt-res-0= @book.name
      %p.lead.small= @book.authors.map{ |author| author.name}.join(", ")
      = form_for @order_item, remote: true, authenticity_token: true do |f|
        .row
          .col-xs-12.col-md-4
            %p.h1.in-gold-500.mt-10= "€ #{@book.price}"
          .col-xs-5.col-md-3
            .input-group.general-position
              %a.input-link{href: "#"}
                %i.fa.fa-minus.line-height-40
              = f.text_field :quantity, class: "form-control quantity-input", value: 1, min: 1
              %a.input-link{href: "#"}
                %i.fa.fa-plus.line-height-40
          .col-xs-7.col-md-5
            = f.hidden_field :book_id, value: @book.id
            = f.submit t("button.add_to_cart"), class: "btn btn-default pull-right general-position"

      .general-info-wrap.divider-lg
        %p= t("text_helpers.description")
        %p.lead.small.line-height-2
          = truncate(@book.description, length: 100)
          = link_to '... ' + t("button.read_more"), '', class: "in-gold-500 ml-10", id: "show_full"
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t("text_helpers.y_publ")
          %p.lead.small.pull-right= @book.public_y.strftime("%Y")
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t("text_helpers.dimensions")
          %p.lead.small.pull-right= "H: #{@book.height} &quot; x W: #{@book.weight} &quot; x D: #{@book.depth} &quot;".html_safe
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t("text_helpers.materials")
          %p.lead.small.pull-right= @book.material
  .mb-80
    - if @book.reviews.processed.count > 0
      = render 'review', reviews: @book.reviews.processed
    - if current_user.present?
      = render 'new_review', book: @book
:javascript
  $(document).ready(function() {
    $('#show_full').click(function(e) {
      e.preventDefault()
      $(this).parent().html('#{escape_javascript @book.description}')
    })
  });
