.col-sm-6.col-md-3
  .general-thumb-wrap
    .thumbnail.general-thumbnail
      = image_tag number_image(best,0), alt: 'book-img', class: 'img-shadow general-thumbnail-img'
      .thumb-hover
        .general-thumb-link-wrap
          %a.thumb-hover-link{href: book_path(best)}
            %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
          = button_to cart.order_items_path(), params: {order_item: {quantity: 1, product_id: best.id}}, method: :post, remote: true, class: 'thumb-hover-link' do
            %i.fa.fa-shopping-cart.thumb-icon
  .mb-35
    .clearfix
      %p.pull-right.font-16.in-gold-500= "€ #{best.price}"
      %p.title.mr-55= "#{best.name}"
    %span.divider-sm
    %p.lead.small= best.authors.map{ |author| author.name}.join(", ")
